{% extends 'base.html.twig' %}

{% block title %}Edit{% endblock %}
{% block body %}
<div class="w-full h-56 bg-blue-500 absolute">
    <h1 class="text-white text-6xl font-bold p-8">Modificar Proveedor</h1>
    <a href="/" class="block px-3 py-2 w-fit bg-yellow-400 shadow-xl drop-shadow-xl hover:scale-105 active:scale-95 text-black border-2 border-black absolute left-8 bottom-2 rounded-full flex flex-row">
        <img src="/back.svg" alt="back" class="w-[25px] h-[25px]">
        Volver
    </a>
    </div>
<div class="absolute top-64 w-full">
<div class="md:w-1/2 sm:w-2/3 w-[90%] mx-auto">
{{ form_start(form, {'attr' : {'class' : "form-simple form-underline"}}) }}
<fieldset class="border-[1px] border-black p-4 mb-4">
<legend>Datos</legend>
    {{ form_errors(form) }}
    {{ form_label(form.name)}}
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }} 
    {{ form_label(form.email)}}
    {{ form_widget(form.email) }}
    {{ form_errors(form.email) }}
    {{ form_label(form.tlf) }}
    {{ form_widget(form.tlf) }}
    {{ form_errors(form.tlf)}}
    {{ form_label(form.cat)}}
    {{ form_widget(form.cat)}}
    <div class="flex flex-row mt-4 items-center">
    {{form_widget(form.active, {'attr' : {'id' : 'active-checkbox'}})}}
    {{ form_label(form.active, 'Active', {'label_attr' : {'for' : 'active-checkbox'}})}}
    </div>
    </fieldset>
    {{ form_widget(form.submit, {'attr' : {'class' : "bg-blue-500 text-white px-5 py-2 rounded-full hover:scale-105 active:scale-95 drop-shadow-xl"}}) }}
{{ form_end(form) }}
</div>
</div>
{% endblock %}