{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}
<div class="w-full h-56 bg-blue-500 absolute">
    <h1 class="text-white text-6xl font-bold p-8">Proveedores</h1>
    <a href="/new"class="flex flex-row align-middle shadow-xl drop-shadow-xl hover:scale-105 active:scale-95 items-center bg-green-500 py-2 px-3 rounded-full border-2 border-black absolute bottom-2 left-8">
        <img src="/add.svg" class="w-[40px] h-[40px]" />
        Añadir Proveedor
    </a>
    
</div>
    <div class="absolute top-72 w-full">
    
    <table class="table border-2 border-black mx-auto w-[90%] border-collapse">
        <thead>
            <tr class="bg-blue-700 text-white">
                <th class="py-4 border-2 border-black">#</th>
                <th class="py-4 border-2 border-black">Nombre</th>
                <th class="py-4 border-2 border-black">Email</th>
                <th class="py-4 border-2 border-black">Telefono</th>
                <th class="py-4 border-2 border-black">Tipo</th>
                <th class="py-4 border-2 border-black">Estado</th>
                <th class="py-4 border-2 border-black"></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="text-center {{loop.index % 2 == 0 ? 'bg-gray-100' : ''}}">
                <td class="border-2 border-black py-2">{{ user.id }}</td>
                <td class="border-2 border-black py-2">{{ user.name }}</td>
                <td class="border-2 border-black py-2">{{ user.email }}</td>
                <td class="border-2 border-black py-2">{{ user.tlf }}</td>
                <td class="border-2 border-black py-2">{{ user.cat }}</td>
                <td class="border-2 border-black py-2 dotted cursor-help"><div class="w-[10px] h-[10px] rounded-full {{ user.is_active ? "bg-green-500" : "bg-red-500" }} inline-block mr-2"></div>{{ user.is_active ? "Activo" : "Inactivo" }}</td>
                <td class="flex flex-row h-fit justify-center py-2 items-center border-b-2 border-black">
                    <a href="/edit?id={{user.id}}"><img src="/edit.svg" class="img-edit w-[25px] h-[25px] cursor-pointer" /></a>
                    <a href="/delete?id={{user.id}}"><img src="/delete.svg" class="img-delete w-[25px] h-[25px] cursor-pointer" /></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination w-fit mt-4 flex flex-row justify-between text-center border-px border-black mx-auto">
        {% set pages = page_n|number_format %}
        {% if pages > 0 %}
        {% for i in 1..pages %}
            <a class="page-btn" href="/?page={{ i }}"><div class="text-center border-[1px] text-lg border-black px-4 hover:bg-blue-400 hover:text-white {{i == page ? 'bg-blue-600 text-white' : 'bg-gray-200'}}">{{ i }}</div></a>
        {% endfor %}
        {% else %}
            <a class="page-btn" href="/?page=1"><div class="text-center border-[1px] text-lg border-black px-4 hover:bg-blue-400 hover:text-white bg-blue-600 text-white">1</div></a>
        {% endif %}
    </div>
    
    </div>
    {% if action != "None" and success %}
        <div id="success" class="absolute text-center w-1/4 left-4 bottom-4 h-auto px-4 py-2 rounded-full bg-green-400">{{ action == "create" ? 'Entrada creada correctamente' : action == "edit" ? 'Entrada modificada correctamente' : 'Entrada eliminada correctamente' }}</div>
    {% endif %}

{% endblock %}