{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}
<div class="w-full h-56 bg-blue-500 absolute">
    <h1 class="text-white text-6xl font-bold p-8">Proveedores</h1>
    <a href="/new"class="flex flex-row align-middle shadow-xl drop-shadow-xl hover:scale-105 active:scale-95 items-center bg-green-500 py-2 px-3 rounded-full border-2 border-black absolute bottom-2 left-8">
        <img src="/add.svg" class="w-[25px] h-[25px]" />
        Añadir Proveedor
    </a>
    
</div>
    <div class="absolute top-64 w-full sm:ml-0 mr-2 h-fit">
    
    <table class="table border-2 border-black mx-auto w-[90%] border-collapse">
        <thead>
            <tr class="bg-blue-700 text-white">
                <th class="py-4 border-2 border-black">#</th>
                <th class="py-4 border-2 border-black">Nombre</th>
                <th class="py-4 border-2 border-black">Email</th>
                <th class="py-4 border-2 border-black md:table-cell hidden">Telefono</th>
                <th class="py-4 border-2 border-black md:table-cell hidden">Tipo</th>
                <th class="py-4 border-2 border-black md:table-cell hidden">Estado</th>
                <th class="py-4 border-2 border-black border-r-0 md:table-cell hidden"></th>
                <th class="py-4 border-2 border-black border-l-0 md:table-cell hidden"></th>
                <th class="py-4 border-2 border-black md:hidden table-cell"></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="text-center hover:bg-blue-100 {{loop.index % 2 == 0 ? 'bg-gray-100' : 'bg-gray-200'}}">
                <td class="border-2 border-black py-2">{{ user.id }}</td>
                <td class="border-2 border-black py-2">{{ user.name }}</td>
                <td class="border-2 border-black py-2">{{ user.email }}</td>
                <td class="border-2 border-black py-2 md:table-cell hidden">{{ user.tlf }}</td>
                <td class="border-2 border-black py-2 md:table-cell hidden">{{ user.cat }}</td>
                <td class="border-2 border-black py-2 sm:cursor-help md:table-cell hidden">
                    <div class="w-[10px] h-[10px] rounded-full {{ user.is_active ? "bg-green-500" : "bg-red-500" }} inline-block sm:mr-2 mx-auto active"></div>
                    <span class="dotted active sm:inline hidden">{{ user.is_active ? "Activo" : "Inactivo" }}</span>
                    <div class="absolute w-84 px-2 py-4 max-h-28 min-h-fit h-20 mt-4 border-[1px] border-black info hidden text-center mx-auto z-30 bg-white backdrop-blur bg-opacity-50">
                        <span><b>Modificado:</b> {{ user.last_modified }}</span><br>
                        <span><b>Creado en:</b> {{ user.created_at }}</span>
                    </div>
                </td>
                <td class="flex-row justify-center py-2 items-center border-b-2 border-black md:table-cell hidden">
                    <a href="/edit?id={{user.id}}"><img src="/edit.svg" class="img-edit w-[25px] h-[25px] mx-auto cursor-pointer" /></a>
                    
                </td>
                <td class="border-2 border-black py-2 border-l-0 md:table-cell hidden"><a href="/delete?id={{user.id}}"><img src="/delete.svg" class="img-delete w-[25px] h-[25px] mx-auto cursor-pointer" /></a></td>
                <td class="border-2 border-black py-2 md:hidden table-cell"><img src="/ellipsis.svg" alt="more" class="w-[30px] h-[30px] mx-auto">
                    <div class="sminfo absolute hidden sm:hidden right-16 -mt-24 bg-white bg-opacity-50 backdrop-blur border-[1px] border-gray-500 p-2 mb-12">
                        <ul>
                            <li><div class="w-[10px] h-[10px] rounded-full {{ user.is_active ? "bg-green-500" : "bg-red-500" }} inline-block sm:mr-2 mx-auto active"></div>
                    <span class="dotted active">{{ user.is_active ? "Activo" : "Inactivo" }}</span></li>
                            <li><b>Tlf:</b> {{user.tlf}}</li>
                            <li><b>Tipo:</b> {{user.cat}}</li>
                            <li><b>Modificado:</b> {{user.last_modified}}</li>
                            <li><b>Creado:</b> {{ user.last_modified }}</li>
                            <li>
                                <div class="flex flex-row justify-center">
                                    <a href="/edit?id={{user.id}}"><img src="/edit.svg" class="img-edit w-[25px] h-[25px] mx-auto cursor-pointer mr-4" /></a>
                                    <a href="/delete?id={{user.id}}"><img src="/delete.svg" class="img-delete w-[25px] h-[25px] mx-auto cursor-pointer" /></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination w-fit mt-4 flex flex-row justify-between text-center border-px border-black mx-auto">
        {% set pages = page_n|number_format %}
        {% if pages > 0 %}
        {% for i in 1..pages %}
            <a class="page-btn" href="/?page={{ i }}"><div class="text-center border-[1px] text-lg border-black px-4 hover:bg-blue-400 hover:text-white {{i == page ? 'bg-blue-600 text-white' : 'bg-gray-200'}}">{{ i }}</div></a>
        {% endfor %}
        {% else %}
            <a class="page-btn" href="/?page=1"><div class="text-center border-[1px] text-lg border-black px-4 hover:bg-blue-400 hover:text-white bg-blue-600 text-white">1</div></a>
        {% endif %}
    </div>
    
    </div>
    {% if action != "None" and success %}
        <div id="success" class="absolute text-center w-72 left-4 bottom-4 h-auto px-4 py-2 rounded-full bg-green-400">{{ action == "create" ? 'Entrada creada correctamente' : action == "edit" ? 'Entrada modificada correctamente' : 'Entrada eliminada correctamente' }}</div>
    {% endif %}

{% endblock %}